

body{
   
    /* background-image:linear-gradient(rgb(22, 163, 40),rgb(0, 255, 234),
    rgb(229, 255, 0),rgb(14, 175, 187),yellow,rgb(22, 163, 40),rgb(0, 255, 234),
    rgb(229, 255, 0),rgb(14, 175, 187),yellow,rgb(22, 163, 40),rgb(0, 255, 234),
    rgb(229, 255, 0),rgb(14, 175, 187),yellow,rgb(22, 163, 40),rgb(0, 255, 234),
    rgb(229, 255, 0),rgb(14, 175, 187),yellow); */

    background-color:linear-gradient(white,rgb(99, 131, 99));
}

.vh{
    width:16%;
    height:800px;
    background-color:rgb(68, 60, 60);
    border:1px solid gray;
    border-top-left-radius: 15px;
}

.v{ 
    display:flex;
    flex-direction:column;
    margin-bottom: 2px;
    margin-right:0px;
    width:95%;
    height:30px;
    font-family: Tahoma ;
    font-size:20px;
    padding-left: 10px;
    text-decoration: none;
    text-shadow: aliceblue;
    color: rgb(255, 255, 255);
    transition: 1s;
    -webkit-transition:font-size .5s ease;
font-stretch: extra-condensed;
}

.v:hover{
    background-color:rgb(137, 208, 255);
    background-image: linear-gradient(rgb(251, 255, 0),rgb(255, 0, 212));
    background-clip: content-box;
    width:110%;
    padding:0px;
    font-size: 110%;
    color:rgb(3, 3, 3);
    font-family: MV Boli ;
}
@media all and (max-width:1200px){
.vertical-nav-bar{
    display:flex;
  
}
}

.row{
    box-shadow: 1px 1px 1px 2px rgb(146, 134, 134);
}

.list-headings{
    color:white;
}

#table-for-user{
   
    display: flex;
    /* flex-direction: row;     */
    margin-top:0%;
    left: 18%;
    top: 167px;
    position: absolute;
    margin-right:10px;
}
.user-display-header{
   
    color:gray;
    padding: 8px,8px;
    margin: 10px;
    /* background-color:rgb(95, 123, 139); */
    margin-left: 2px;
    font-size:13px;
    text-align: left;
    font-family: "Segoe UI",Arial,sans-serif;
}
th{
    /* border: 1px solid rgb(207, 83, 83); */
    padding-right: 100px;
}

.row{
    border:3px solid rgb(0, 255, 255);
    
   
}

tr.border{
    outline:thin solid black;
}

.name-of-cuddle{
    color: white;
}

.user-row-data{
    font-size: 15px;
  
    /* border: 3px solid rgb(255, 197, 197); */
    border-radius: 5px;
    font-family: Source Sans Pro; 
    color:gray;
}

.navbar-icon{
    height:85%;
    width:12%;
    float: left;
    padding-left: 0px;
    /* filter: sepia(100%);
    -webkit-filter: sepia(100%); */
    filter: invert(100%);
    -webkit-filter: invert(100%);
    margin-right: 10px;
}
.icon-for-user{
    float:left;
    width:8%;
    height:3%;
    padding-right: 10px;
    padding-left: 5px;
}
/* 
.status-column{
    border:3px solid rgb(0, 255, 255);
    text-align: center;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 0px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(0, 247, 255);
   
} */

/* .status-column:hover{
    border:3px solid rgb(0, 255, 255);
    text-align: center;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 0px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(0, 247, 255);
    box-shadow: inset 5px 6px 3px 3px lightblue;
} */

.status-image{
    height:30%;
    width:40%;
    margin-top:5px;
    margin-left: 10px;
    margin-bottom:2px;
}

.ask {
    width: 70%;
    height: 40px;
    position: absolute;
    left: 18%;
    top: 0px;
    border-color:rgb(158, 150, 150);
}

#Ask{
    position: absolute;
    top: 0px;
    left: 86%;
    height: 45px;

}

.search {
    position: absolute;
    top: 121px;
    left: 18%;
    width: 30%;
    height: 40px;
    border-radius: 10px;
}
#submitbutton {
    position: absolute;
    top: 130px;
    left: 46%;
    width: 3%;
    height: 30px;
    background: rgb(160, 147, 147202, 198, 198);
    background-color: Transparent;
    border: none;
}

.add-user {
    position: absolute;
    left: 85%;
    top: 61px;
    width: 100px;
    height: 40px;
    color: BISQUE;
    background: rgb(131, 131, 248);
    font-size: 14px;
    border-radius: 8px;
    font-family: cursive;
}

h3.user-headings {
    position: absolute;
    top: 51px;
    left: 20%;
    FONT-SIZE: 21PX;
    font-family: cursive;
    color: black;
}