@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.side-vertical-nav-bar{
    font-family: Roboto;
    position: fixed;
    display:flex;
    flex-direction:column;
}

.side-vertical-nav-bar a{
    text-decoration: none;
    margin-bottom: 13px;

}

.drop-down-button-auth{
    width:100px;
    height:30px;
}
/* .vertical-nav-auth-dropdown{
    display:none;
    background-color:black;
} */

.side-nav-icons{
    width: 20px;
}

.vertical-nav-auth-dropdown {
    border: none;
    background-color: #443C3C;
    outline:0;
}


#vertical-nav-dropdown-auth-block{
    display:none;
}

#vertical-nav-dropdown-auth-display {
    display: flex;
    flex-direction: column;
    padding-left: 42px;
    background: linear-gradient(black white);
    margin-top: 15px;

}

#vertical-nav-dropdown-auth-display a {
    margin-bottom: 20px;
    padding-top: px;
    text-decoration: none;
    color: #DADBDF;
    transition: 1s;
    -webkit-transition:font-size .5s ease;

}

#vertical-nav-dropdown-auth-display a:hover {
    background-color:rgb(137, 208, 255);
    background-image: linear-gradient(rgb(251, 255, 0),rgb(255, 0, 212));
    width:95%;
    height: 150%;
    padding:10px;
    margin-left: -10px;
    font-size: 110%;
    color:rgb(3, 3, 3);
    font-family: MV Boli ;
}

.vertical-nav-auth-dropdown  {
text-align: left;
} 

.search-button{
    display:flex;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
#flex-container {
    position: relative;
    display: flex;
    margin-right: auto;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
}

.rowdata1{
   flex:1 1 auto;

}